<div class="container key-holders p-0">

    <div class="row m-0">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-3 pointer" *ngFor="let item of keyholders">
    
            <div class="key-holder-pic" [routerLink]="['/key-holders',item?.id]">
                <!-- <img *ngIf="!item?.image_path" src="../../../assets/images/mask-group.png"> -->
                <img *ngIf="item?.image_path" [src]="item?.image_path">
            </div>
            <h6>
                <a class="text-decoration-none text-link" [routerLink]="['/key-holders',item?.id]">{{item?.first_name}} {{item?.last_name}}</a>
            </h6>
    
        </div>
        <div *ngIf="!isKeyHolder" class="col-6 col-md-4 col-lg-3 col-xl-2 p-3 pointer" (click)="openKeyHolderPopup($event)">
            <div class="key-holder-pic add-keyholder">
            </div>
        </div>
    </div>
    
</div>