<form [formGroup]="resetPasswordForm" class="resetPasswordForm" (submit)="submit()">

    <div class="my-2">
        <label for="password" class="col-form-label text-white">New Password</label>
        <input type="password" placeholder="Password" class="form-control" id="password"
        formControlName="password">
    </div>
    
    <div class="my-2">
        <label for="confirmPassword" class="col-form-label text-white">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" class="form-control" id="confirmPassword"
        formControlName="confirmPassword">
    </div>
    
    <div class="mt-4">
        <button type="submit" class="btn secondary-button w-100">Reset Password</button>
    </div>
        
</form>
