.auth{
    padding: 24px;
    min-height: 100vh;
    background: url(../../assets/images/auth-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    .auth-card{
        max-width: 576px;
        // background: #385723;
        background-color: #14c44d;
        background-image: linear-gradient(0deg, #14c44d 0%, #848627 50%, #20674e 100%);
        border-radius: 36px;
        font-weight: 500;
        label{
            color: #fff;
        }
        .logo{
            width: 200px;
            // padding: 8px 64px;
            // border-radius: 64px;
            // background-color: #fff;
            img{
                width: 100%;
            }
        }
    }
}