<!-- src/app/pages/services/services.component.html -->
<div class="page-container">
  <app-hero
    title="Services"
    bgImage="/assets/hero_bg_pol_3.jpg"
    subtitle="Here is what you want family members to know before you graduate into eternity"
  >
  </app-hero>
  <app-nav-bar></app-nav-bar>
  <section class="services-section">
    <div class="container">
      <div class="services-content">
        <div class="services-text">
          <p>
            <!-- PEARLS OF MY LYFE are the things that I have cherished the most.
            There are many experiences that bring us joy and we wish to share
            with family. Things like the old neighborhood, spending time with
            grandparents, old friends, old hangout places, the way things used
            to be or older family members who instilled value in you. -->
            Who will do your eulogy and how do they know the things that you
            cherish most in your life? Is your information correct? Leave it
            yourself for free in the Auto obituary section. help the pastor or
            priest with your eulogy so that they are not searching for
            information about you or the things that you loved about your life.
            You lived your life and only you can tell your story the way you
            experience it.
          </p>
          <h4>What Services We Provide</h4>

          <h6>Auto Obituary</h6>
          <ul>
            <li>Leave accurate biographical information.</li>
            <li>
              Leave accurate biographical informationLeave accurate birth dates,
              schools, parents info, spouse info, life achievements, awards
              achieved, employment held, community, work, and more.
            </li>
            <!-- <li>
              <strong>Time with grandparents and old friends:</strong> Cherished
              moments that reflect meaningful relationships.
            </li>
            <li>
              <strong>Life lessons and values:</strong> Wisdom passed down from
              elders to younger generations.
            </li> -->
          </ul>

          <h6>Legacy</h6>
          <ul>
            <li>
              <!-- <strong>Capture life stories automatically:</strong>  -->
              A heartfelt tribute based on memories, values, and experiences.
            </li>
            <li>
              <!-- <strong>Time with grandparents and old friends:</strong> -->
              Cherished moments that reflect meaningful relationships.
            </li>
            <li>
              <!-- <strong>Life lessons and values:</strong>  -->
              Wisdom passed down from elders to younger generations.
            </li>
          </ul>
          <!-- <ul>
            <li>
              <strong>Preserve family wisdom:</strong> Document values, culture,
              and emotional heritage for future generations.
            </li>
            <li>
              <strong>Favorite family recipes:</strong> Capture not just the
              ingredients but the memories they bring.
            </li>
            <li>
              <strong>Lessons from life experiences:</strong> Share what was
              learned from mistakes and growth.
            </li>
          </ul> -->

          <p>
            These are all pearls that each one of us have experienced and know
            carry with us. They should not be tossed away or forgotten upon our
            graduation into eternity.
          </p>

          <p>
            What if PEARLS OF MY LYFE existed in the past? You could click a
            place in this website and see an old family member talking to you
            about the things they cherished the most and want to leave the
            memory behind for you to have (smile); or what if they left behind
            some wisdom that could keep you out of trouble and on a good path in
            life. That is how it is supposed to be, family passing down
            traditions, wisdom, knowledge and many other things.
          </p>
          <p>
            Sometimes we don’t have the words when we are in front of loved
            ones. Some relationships are estranged and it’s hard to communicate.
            You still care about them and have value to give them. Now, you can
            take your time, think about what this life and your loved ones have
            meant to you; and leave it all in your PEARLS OF MY LYFE account.
          </p>
          <p>
            If you don’t know where to start and need help. Visit the “moments
            to share” section to spark ideas.
          </p>

          <div class="services-cta">
            <button class="gradient-orange" (click)="scrollToTop()">
              Start your Auto obituary now
            </button>
            <button class="gradient-orange" (click)="scrollToTop()">
              Get Legacy Plan Now
            </button>
          </div>
        </div>

        <div class="services-image-container">
          <img
            class="services-image"
            src="assets/services_1_Pol.webp"
            alt="Creating a legacy"
          />
          <img
            class="services-image"
            src="assets/images/logo.webp"
            alt="Creating a legacy"
          />
          <!-- src="assets/Services_2_Pol.webp" -->
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="plan-cards-section">
    <div class="container">
      <div class="plan-cards">
        <div
          *ngFor="let plan of planCards"
          class="plan-card"
          [ngClass]="'gradient-' + plan.gradient"
        >
          <h2>{{ plan.title }}</h2>
          <div class="price">
            <span class="dollar">$</span>
            <span class="amount">{{ plan.price }}</span>
            <span class="period">Monthly</span>
          </div>
          <p class="description">{{ plan.description }}</p>
          <ul class="features">
            <li *ngFor="let feature of plan.features">{{ feature }}</li>
          </ul>
          <div class="cta-button">
            <app-button (click)="scrollToTop()" variant="primary"
              >Get It Now!</app-button
            >
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
<app-footer></app-footer>
