<div class="subscriptions-container">
  <h2>Choose Your Plan</h2>
  <div class="plans">
    <button [class.selected]="selectedAmount === 1" (click)="selectPlan(1)">
      Subscribe for $1
    </button>
    <button [class.selected]="selectedAmount === 10" (click)="selectPlan(6.35)">
      Subscribe for $6.35
    </button>
    <button [class.selected]="selectedAmount === 20" (click)="selectPlan(10.9)">
      Subscribe for $10.9
    </button>
  </div>
  <div id="paypal-button-container"></div>
</div>
